1. Discovering relationships between variables is the fundamental goal of data analysis.

2. Frequency tables are a basic tool to explore data and get an idea of the relationships between variables.

3. A frequency table will show the **counts of one or more categorical variables**.

In [1]:
import numpy as np 
import pandas as pd 
import os

In [2]:
os.chdir('/kaggle/') 
os.getcwd()

'/kaggle'

In [3]:
titanic = pd.read_csv('/kaggle/input/titanic-train/train.csv')

In [4]:
titanic['Cabin'].unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [5]:
char_cabin = titanic['Cabin'].astype(str) 
new_cabin = np.array([Cabin[0] for Cabin in char_cabin])  
new_cabin = pd.Categorical(new_cabin)
titanic["Cabin"] = new_cabin 
titanic["Cabin"].describe()

count     891
unique      9
top         n
freq      687
Name: Cabin, dtype: object

# One-Way TablesÂ¶

1. Create frequency tables (also known as **crosstabs**) in pandas using the **pd.crosstab()** function. 
   
2. The function takes one or more array-like objects as indexes or columns and then constructs a new DataFrame of variable counts **based on the supplied arrays**.

In [6]:
# 1. Make a crosstab of survived 
# 2. Name the columns 

my_tab = pd.crosstab(index = titanic["Survived"], 
                    columns = "Count") 

my_tab

col_0     Count
Survived
0           549
1           342

In [7]:
# Confirm that the crosstab is a DataFrame: check the type 

type(my_tab)

pandas.core.frame.DataFrame

In [8]:
# Make a crosstab to explore var "Plcass" 

pd.crosstab(index = titanic['Pclass'], 
           columns = "count")

col_0   count
Pclass
1         216
2         184
3         491

In [9]:
# Make a crosstab to explore var "Sex" 

pd.crosstab(index = titanic['Sex'], 
           columns = "count")

col_0   count
Sex
female    314
male      577

In [10]:
# can also use value_counts() to check its counts: 

titanic.Sex.value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

1. Even these simple one-way tables give us some useful insight: we immediately get a sense of distribution of records across the categories. For instance, we see that males outnumbered females by a significant margin and that there were more third-class passengers than first and second-class passengers combined.

2. If you pass a variable with many unique values to table(), such a numeric variable, it will still produce a table of counts for each unique value, but the counts may not be particularly meaningful.

3. Since the crosstab function produces DataFrames, the DataFrame operations we've learned work on crosstabs.

In [11]:
cabin_tab = pd.crosstab(index = titanic["Cabin"], 
                       columns = "count") 
cabin_tab

col_0  count
Cabin
A         15
B         47
C         59
D         33
E         32
F         13
G          4
T          1
n        687

In [12]:
# Sum the counts: 
print(cabin_tab.sum(), "\n")  

# Check the rows and cols: 
print(cabin_tab.shape, "\n") 

# slice the rows from 1- 6: 
print(cabin_tab.iloc[1:7])

col_0
count    891
dtype: int64

(9, 1)

col_0  count
Cabin
B         47
C         59
D         33
E         32
F         13
G          4

1. One of the most useful aspects of frequency tables is to **extract the proportion of the data** that belongs to each category.  

2. With a one-way table, you can do this by dividing each table value by the total number of records in the table:

In [13]:
cabin_tab / cabin_tab.sum()

col_0     count
Cabin
A      0.016835
B      0.052750
C      0.066218
D      0.037037
E      0.035915
F      0.014590
G      0.004489
T      0.001122
n      0.771044

# Two-Way Tables

Two-way frequency tables, also called contingency tables, are tables of counts with two dimensions where each dimension is a different variable. Two-way tables can give you insight into the relationship between two variables. To create a two-way table, pass two variables to the pd.crosstab() function instead of one:

In [14]:
# Table of survival vs. sex:

sex_survived = pd.crosstab(index = titanic['Survived'], 
                           columns = titanic['Sex']) 

sex_survived.index = ["Died", "Survived"]  

sex_survived

Sex       female  male
Died          81   468
Survived     233   109

In [15]:
# Table of survival vs passenger class 

survived_class = pd.crosstab(index = titanic["Survived"], 
                            columns = titanic["Pclass"]) 


survived_class

Pclass      1   2    3
Survived
0          80  97  372
1         136  87  119

In [16]:
survived_class = pd.crosstab(index = titanic["Survived"], 
                            columns = titanic["Pclass"]) 

survived_class.index = ['died', 'survived'] 
survived_class.columns = ['class1', 'class2', 'class3'] 

survived_class

          class1  class2  class3
died          80      97     372
survived     136      87     119

You can get the **marginal counts** (**totals for each row and column**) by including the argument **margins=True**:

In [17]:
# Table of survival vs passenger class: 

survived_class = pd.crosstab(index = titanic["Survived"], 
                             columns = titanic["Pclass"],
                             margins = True) 

survived_class.index = ['died', 'survived', 'total_of_col'] 
survived_class.columns = ['class1', 'class2', 'class3', 'total_of_rows'] 
 
survived_class

              class1  class2  class3  total_of_rows
died              80      97     372            549
survived         136      87     119            342
total_of_col     216     184     491            891

To get the **total proportion** of counts in each cell, divide the table **by the grand total**:

In [18]:
survived_class / survived_class.loc['total_of_col', 'total_of_rows']

                class1    class2    class3  total_of_rows
died          0.089787  0.108866  0.417508       0.616162
survived      0.152637  0.097643  0.133558       0.383838
total_of_col  0.242424  0.206510  0.551066       1.000000

Note: loc[ ] is a label-based indexer used to select data by row or column labels.

To get the **proportion of counts along each column** (in this case, the survival rate within each passenger class) divide by the column totals:

In [19]:
survived_class / survived_class.loc['total_of_col']

               class1    class2    class3  total_of_rows
died          0.37037  0.527174  0.757637       0.616162
survived      0.62963  0.472826  0.242363       0.383838
total_of_col  1.00000  1.000000  1.000000       1.000000

# Higher Dimensional Tables

In [20]:
# survived_sex & Pclass: 

surv_sex_class = pd.crosstab(index = titanic['Survived'], 
                            columns = [titanic['Pclass'], 
                                      titanic['Sex']],
                            margins = True)   


surv_sex_class

Pclass        1           2           3       All
Sex      female male female male female male
Survived
0             3   77      6   91     72  300  549
1            91   45     70   17     72   47  342
All          94  122     76  108    144  347  891

1. Notice that by passing a second variable to the columns argument, the resulting table has columns categorized by both Pclass and Sex.
   
2. The outermost index (Pclass) returns sections of the table instead of individual columns:

In [21]:
# Get the subtable under Pclass 2

surv_sex_class[2]

Sex       female  male
Survived
0              6    91
1             70    17
All           76   108

The secondary column index, Sex, can't be used as a top-level index, but it can be used within a given Pclass:

In [22]:
surv_sex_class[2]["female"]

Survived
0       6
1      70
All    76
Name: female, dtype: int64

In [23]:
# Due to the convenient hierarchical structure of the table, 
# we still use one division to get the proportion of survival across each column: 

surv_sex_class / surv_sex_class.loc['All']

Pclass           1                   2                3                 All
Sex         female      male    female      male female      male
Survived
0         0.031915  0.631148  0.078947  0.842593    0.5  0.864553  0.616162
1         0.968085  0.368852  0.921053  0.157407    0.5  0.135447  0.383838
All       1.000000  1.000000  1.000000  1.000000    1.0  1.000000  1.000000

1. Here we see something quite interesting: **over 90% of women in the first and second classes survived**, but **only 50%** of women in **third** class survived. **Men in first class also survived at a greater rate than men in lower classes*.
   
2. **Passenger class seems to have a significant impact on survival**, so it would likely be useful to include as a feature in a predictive model.